@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


// Fuentes
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 380px;
$midscreen: 565px;
$tablet: 950px;
$laptop: 1024px;
$desktop: 1250px;
$desktop-large: 1440px;
$ultra-wide: 2000px;

// Colores
$black: #000000;
$white: #FFFFFF;
$back-white: #f3f3f7;
$gray: #222231;
$gray-light: #4a4a68;
$gray-soft: #7E7B99;
$gray-dark: #0e0e14;
$yellow: #FD9526;
$yellow-light: #FCEB54;
$green: #36DE8C;
$blue: #29CBFC;
$pink: #ff2781;
$red: #ff3939;

//Sombra Neomorphic
$shadow: rgb(0 0 0 / 19%) 0px 0px 4px, rgb(0 0 0 / 20%) 0px 2px 4px;
$shadow-inner:rgb(157, 167, 176) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.321) -3px -3px 6px 1px inset;

// Medidas
$separate: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$ultrabold: 900;


// Borders
$border-radius: 1rem;
$border-tabs: 0.2rem solid $white;
//Loader

