@use 'sass:math';
@use '../base/variables' as v;
@use '../base/mixins' as m;

.auth{
    display: flex;
    flex-direction: column;
    gap: math.div(v.$separate, 2);
    justify-content: center;
    align-items: center;
    &__heading{
        margin-top: v.$separate *2;
    }

    &__icon{
        font-size: 3.5rem;
        color: v.$green;
        &--fail{
            @extend .auth__icon;
            color: v.$red;
        }
    }

    &__text{
        text-align: center;
        background-color: v.$gray;
        padding: v.$separate;
        border-radius: 1rem;
        color: v.$white;
    }
    &__text--post{
        @extend .auth__text;
        padding: 2rem;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        @include m.maxtablet{
            line-height: 1.4;
        }
        &--mobile{
            color: v.$green;
            font-size: 2rem;
        }
    }
}